.contact_list {
	width: 100%;
  text-align: center;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.contact_list th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.contact_list td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.contact_list button {
  background: #efefef;
}